/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define COLEMAK 0
#define LOWER 1
#define RAISE 2

/* KEY POSITIONS
  ╭───────────────────────╮          ╭────────────────────────╮
  │  0   1   2   3   4  5 │          │  6   7   8   9  10  11 │
  │ 12  13  14  15  16 17 │          │ 18  19  20  21  22  23 │
  │ 24  25  26  27  28 29 ─────╮ ╭───  30  31  32  33  34  35 │
  ╰──────────────╮  36  37  38 │ │ 39  40  41 ╭───────────────╯
                 ╰─────────────╯ ╰────────────╯           
*/

/ {
        keymap {
                compatible = "zmk,keymap";

                COLEMAK {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  |  ^  | BKSP |
// | CTRL |  A  |  R  |  S  |  T  |  G  |   |  M  |  N   |  E  |  I  |  O  |   `  |
// | SHFT |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H   |  ,  |  .  |  É  | ESC  |
//                    | GUI | LWR | SPC |   | ENT | RSE  | ALTGR |
                        label = "Base";
                        bindings = <
   &kp TAB   &kp FR_Q &kp FR_W &kp FR_F &kp FR_P &kp FR_B   &kp FR_J &kp FR_L &kp FR_U &kp FR_Y &kp FR_CARET &kp BSPC
   &kp LCTRL &kp FR_A &kp FR_R &kp FR_S &kp FR_T &kp FR_G   &kp FR_M &kp FR_N &kp FR_E &kp FR_I &kp FR_O &kp FR_GRAVE
   &kp LSHFT &kp FR_Z &kp FR_X &kp FR_C &kp FR_D &kp FR_V   &kp FR_K &kp FR_H  &kp FR_COMMA &kp FR_DOT &kp FR_E_ACUTE &kp ESC
                  &kp LGUI &mo 1 &kp SPACE   &kp RET &mo 2 &kp RALT
                        >;
                };
                LOWER {
// -----------------------------------------------------------------------------------------
// |  F1  | F2  | F3  | F4  | F5  | F6  |   | F7  | F8  | F9  | F10 | F11 | F12  |
// |  |   |  {  |  }  |  (  |  )  |  \  |   |  /  | LFT | DWN | UP  | RGT |  ~   |
// | CAPS |  <  |  >  |  [  |  ]  |  _  |   |  ­¯  |  ¨  | ´   |  `  |  ¸  |  `   |
//                    | GUI |     | SPC |   |BKSP |     | CAD* |   CAD = CTRL + ALT + DEL
                        label = "Lower";
                        bindings = <
   &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12
   &kp FR_PIPE &kp FR_LBRC &kp FR_RBRC &kp FR_LPAR &kp FR_RPAR &kp FR_BSLH &kp FR_FSLH &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp FR_TILDE
   &kp CAPS &kp FR_LT &kp FR_GT &kp FR_LBKT &kp FR_RBKT &kp FR_UNDER &kp FR_MACR &kp FR_UMLAUT &kp FR_ACUTE &kp FR_GRAVE &kp FR_CEDILLA &kp GRAVE
                  &kp LGUI &trans &kp SPACE   &kp RET &trans &trans
                        >;
                };

                RAISE {
// -----------------------------------------------------------------------------------------
// |   !  |  @  |  #  |  $  |  %  |  ?  |   |  &  |  *  |  -  |  +  |  =  | DEL  |
// |   1  |  2  |  3  |  4  |  5  |  6  |   |  7  |  8  |  9  |  0  |HOME | PGUP |
// |   ^  |  "  |  «  |  »  |  ¢  |  €  |   |  ÷  |  '  |  ;  |  :  | END |PGDWN |
//                    | CTRL|     | DEL |   | ENT |     | ALT |
                        label = "Raise";
                        bindings = <
   &kp FR_EXCL &kp FR_AT &kp FR_HASH &kp FR_DLLR &kp FR_PRCNT &kp FR_QMARK &kp FR_AMPS &kp FR_ASTRK &kp FR_MINUS &kp FR_PLUS &kp FR_EQUAL &kp DEL
   &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6   &kp N7 &kp N8 &kp N9 &kp N0 &kp HOME &kp PG_UP
   &kp CARET &kp FR_DQT &kp FR_LAQUO &kp FR_RAQUO &kp FR_CENT &trans &trans  &kp FR_APOS &kp FR_SEMI &kp FR_COLON &kp END &kp PG_DN
                &kp LCTRL &trans &kp DEL &kp RET &trans &kp RALT
                        >;
                };
        };
};